.cart_item {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cart_item .img_box {
  flex: 1;
}
.cart_item .item_info {
  flex: 1.5;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cart_item .item_info h4 {
  font-size: 20px;
  line-height: 38px;
}
.cart_item .item_info .txt_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart_item .item_info .txt_box p {
  font-size: 16px;
}

.cart_item .item_info .btn_box {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cart_item .item_info .btn_box button {
  padding: 5px 10px;
}
@media screen and (max-width: 768px) {
  .cart_item {
    width: 58.5938vw;
    align-items: center;
    margin-bottom: 1.9531vw;
  }

  .cart_item .item_info {
    flex: 1.5;
    flex-direction: column;
    padding: 1.3021vw;
  }

  .cart_item .item_info h4 {
    font-size: 2.6042vw;
    line-height: 4.9479vw;
  }
  .cart_item .item_info .txt_box {
    align-items: center;
    margin-bottom: 1.3021vw;
  }

  .cart_item .item_info .txt_box p {
    font-size: 2.0833vw;
  }

  .cart_item .item_info .btn_box button {
    padding: 0.651vw 1.3021vw;
  }
}
