.cart_item {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cart_item .img_box {
  flex: 1;
}
.cart_item .item_info {
  flex: 1.5;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cart_item .item_info h4 {
  font-size: 20px;
  line-height: 38px;
}
.cart_item .item_info .txt_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart_item .item_info .txt_box p {
  font-size: 16px;
}

.cart_item .item_info .btn_box {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cart_item .item_info .btn_box button {
  padding: 5px 10px;
}
