.cart_item {
  border: 2px solid gold;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_item .img_box {
  flex: 1;
}
.cart_item .item_info {
  border: 2px solid red;
  flex: 1;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}
.cart_item .item_info .txt_box {
  margin-bottom: 10px;
}
.cart_item .item_info .txt_box h3 {
  font-size: 18px;
  line-height: 36px;
}

.cart_item .item_info .txt_box p {
  font-size: 16px;
}

.cart_item .item_info .btn_box {
  display: flex;
  align-items: center;
}
