.header {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: 28px;
}
.header .btn_cart {
  display: flex;
  align-items: center;
}
.header .btn_cart p {
  font-size: 16px;
  margin-right: 10px;
}

.header .btn_cart span {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(147, 253, 236);
  color: #000;
}

.header .btn_box {
  display: flex;
}
.header .btn_box button {
  margin-right: 20px;
}
