.items {
  padding: 35px;
}
.items .txt_box {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.items .txt_box h3 {
  font-size: 26px;
  line-height: 48px;
}
.items .txt_box p {
  font-size: 18px;
}
.items .txt_box .btn_add {
  margin-top: 20px;
}
