* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 250, 248);
}

button {
  background-color: rgb(8, 141, 119);
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  box-shadow: 2px 3px 10px rgba(8, 196, 165, 0.575);
  transition: 0.1s;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
