* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(37, 34, 34);
  color: #fff;
}

button {
  background-color: rgb(8, 141, 119);
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 10px rgb(8, 196, 164);
  transition: 0.1s;
}

img {
  width: 100%;
}
