.modal_cnt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(8, 8, 8, 0.842);
  z-index: 999;
  overflow: hidden;
}
